@import url(font-awesome.min.css);

.center-outer {
    width: 100%;
    height: 100%;
    }
    
    .center-inner {
    vertical-align: middle;
    text-align: center;
    }
    

    .bubbles {
    font-family: arial;
    position: relative;
    }
    
    .individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
    }
    