@import url(font-awesome.min.css);

.cards {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    --spacing: 30px;
    --columns: 4;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .card-info-top {
        gap: 0;
    }
}
@media only screen and (max-width: 1023px) {
    .cards {
        --spacing: 15px;
        --columns: 2;
    }
    .card-info-top {
        gap: 0;
    }
}

@media only screen and (max-width: 767px) {
    .cards {
        --spacing: 15px;
        --columns: 1;
    }
    .card-info-top {
        gap: 0;
    }
}

.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
    overflow: hidden;

}

.card-img-zoom {
    overflow: hidden;
}

.card-img:hover {
    transition: transform .5s ease;
    transform: scale(1.5);

}

.card-top {
    padding: 15px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    /* gioi han so dong hien thi */
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.card-info {
    align-items: center;
    margin-top: auto;
}

.card-info-top {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: -10px;
    flex-shrink: 0;
    gap: 10px;
}

.card-price-sale {
    background-color: green;
    border-radius: 5px;
    height: 20px;
    width: 50%;
    margin: 10px auto;

}

.card-price-sale h2 {
    color: white;
    font-weight: 300px;
    font-size: 10px;
    text-align: center;
}

.card-price-old {
    text-align: center;
    width: calc(calc(100% / 2) - 10px);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card-price-old h2 {
    text-decoration-line: line-through;
    font-weight: 300px;
    font-size: 15px;
    color: gray;

}

.card-price-new {
    text-align: center;
    width: calc(calc(100% / 2) - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-price-new h2 {
    display: inline-block;
    line-height: 1;
    font-weight: 500px;
    font-size: 18px;
    color: red;
  
}

.card-info-bottom {
    font-weight: 300px;
}

.card-nsx {
    font-size: 15px;
    text-align: center;
}

.card-bottom {
    border-top: 2px solid #2222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-buy {
    border-right: 2px solid #2222;
    color: black;
    align-items: center;
    width: calc(calc(100% / 2) - 5px);
    margin-right: 10px;
    height: auto;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-buy:hover {
    display: block;
    align-items: center;
    margin-right: -1px;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    color: white;
}
.btn-buy{
    display: block;
}

.card-cart {
    border-left: 2px solid #2222;
    color: black;
    align-items: center;
    width: calc(calc(100% / 2) - 10px);
    margin-left: 10px;
    height: auto;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-cart:hover {
    display: block;
    align-items: center;
    margin-left: -1px;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    color: white;
}
.btn-cart{
    display: block;
}

.card-cart:focus {
    outline: none;
}

.card-buy ion-icon {
    margin-left: 30px;
    height: 30px;
    width: calc(calc(100% / 2));
}

.card-cart ion-icon {
    margin-left: 30px;
    height: 30px;
    width: calc(calc(100% / 2));
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-bottom {
    margin-top: auto;
    flex-shrink: 0;
}

.card {
    display: flex;
    flex-direction: column;
}