@import url(font-awesome.min.css);
.cards {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    --spacing: 30px;
    --columns: 4;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card-info-top {
        gap: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .cards {
        --spacing: 15px;
        --columns: 2;
    }
    .card-info-top {
        gap: 0;
    }
}

@media only screen and (max-width: 767px) {
    .cards {
        --spacing: 15px;
        --columns: 1;
    }
    .card-info-top {
        gap: 0;
    }
}

.card {
    overflow: visible;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    height: 250px;
}

.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.front,
.back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card:hover .content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }
    0% {
        transform: rotateZ(360deg);
    }
}

.front {
    transform: rotateY(180deg);
    color: white;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

small {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 4px 10px;
    width: 60px;
    border-radius: 0.5rem;
    background: hsl(0, 0%, 100%, 0.4);
}

.rating .bx {
    color: #faf102;
    font-size: 0.9rem;
}

.rating span {
    color: #faf102;
    font-size: 0.9rem;
}

.front-content .badge {
    background-color: #09e714f1;
    padding: 5px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.title {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    ;
}

.title p {
    width: 100%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.price-old {
    font-size: 10px;
    color: rgb(184, 182, 182);
    text-decoration-line: line-through;
}

.card-footer {
    color: greenyellow;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

.card-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-button a {
    outline: none;
    border: 2px solid #eee;
    display: flex;
    padding: .5em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    color: white;
    transition: 0.25s ease;
}

.card-button a:hover {
    background: #fa5353;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    transform: translateY(-3px);
}

.card-button button {
    outline: none;
    border: 2px solid #eee;
    display: flex;
    padding: .5em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    color: white;
    transition: 0.25s ease;
}

.card-button button:hover {
    background: #fa5353;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    transform: translateY(-3px);
}

.front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
}

#bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
}

#right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}