* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-form {
    margin: 10rem 2rem;
    color: #eee;
}

.filter-title {
    background-color: rgb(184, 183, 183);
    height: 50px;
    text-align: center;
    position: relative;
    padding: 10px;
}

#control .filter-title ion-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    left: 0;
    margin-left: 5px;
}

#control .filter-title h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.filter-itemss {
    background-color: rgb(105, 105, 105);
    padding: 20px;
}

.filter-control {
    width: 50%;
    height: 100%;
    background-color: rgb(184, 183, 183);
    border-radius: 5px;
    margin: 0 auto;
}

.filter-itemss {
    max-height: 465px;
    overflow: auto;
}

.filter-item {
    margin-bottom: 10px;
    padding: 10px;
}

.filter-item ion-icon {
    color: white;
}

.item-title {
    display: grid;
}

.item-title label {
    color: white;
}

.categorys {
    display: none;
}

#category .filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#category .filter-title ion-icon {
    width: 30px;
    height: 30px;
    color: white;
    left: 0;
    margin-left: 5px;
}

#category .filter-title h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#category .filter-title button {
    width: 90px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.item-title span {
    color: goldenrod;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.items::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: rgba(231, 22, 22, 0.712);
    transform: translateX(-10px);
    transition: 0.25s;
}

.items::before:hover {
    width: 100%;
}

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-item button {
    width: calc(30% - 10px);
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px;
}