*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #24262b;
    padding: 40px 0;
    position: sticky;
    top: 100%;
}

.footer-container{
    max-width: 1170px;
    margin: auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}


.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    font-size: 25px;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
    font-size: 30px;
}

@media (max-width: 805px) {
    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
    
}

@media (max-width: 510px) {
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    
}
