:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0, 0%, 91%);
}


/* Breadcrumb */

.menu-second {
    margin-top: 6rem;
}

.menu-second h2 {
    font-weight: bold;
    font-size: 50px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--text-color);
    content: " \276f";
}

ul.breadcrumb .here {
    color: var(--main-color);
}

ul.breadcrumb li a {
    color: var(--text-color);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--main-color);
}

.scrollbar {
    max-height: 300px;
    overflow: auto;
}

.cart-content {
    padding: 10px;
}

.register-form {
    width: 100%;
    margin: 3rem auto;
    backdrop-filter: blur(10px);
    padding: 0 20px;
    border-radius: 14px;
    display: flex;
}

.left {
    width: 100%;
    padding: 0.5rem;
}

.right {
    width: 100%;
    padding: 0.5rem;
    transition: .5s ease;
    clip-path: circle(0% at 100% 0%);
}

.right.active {
    clip-path: circle(144% at 100% 0%);
}

.register-input {
    outline: none;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
    border: 2px solid var(--main-color);
    background-color: transparent;
    transition: 0.25s ease;
    color: var(--text-color);
    padding: 10px;
    font-size: 15px;
}

.register-input:focus {
    border-color: var(--main-color);
}

.is-invalid {
    border: 2px solid red;
    vertical-align: center;
}

.loi {
    position: absolute;
    bottom: -1.5rem;
    color: red;
}

.register-lable {
    position: absolute;
    color: #747474;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    transition: 0.25s ease;
    background: var(--dark-color);
    padding: 5px;
    font-size: 15px;
}

.register-input:not(:placeholder-shown)+.register-lable,
.register-input:focus+.register-lable {
    top: 0;
    color: var(--main-color);
    display: inline-block;
}

.register-lable2 {
    position: absolute;
    color: #747474;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    transition: 0.25s ease;
    background: var(--dark-color);
    padding: 5px;
    font-size: 15px;
}

.register-input:not(:placeholder-shown)+.register-lable2,
.register-input:focus+.register-lable2 {
    top: 0;
    left: 65%;
    color: var(--main-color);
    display: inline-block;
}

.register-item {
    margin-bottom: 30px;
    position: relative;
}

.register-btn {
    display: flex;
    gap: 10px;
}

.register-item button {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: 2px solid var(--main-color);
    color: white;
    background: transparent;
    transition: 0.25s ease;
}

.register-item button:hover {
    background: var(--main-color);
    border-color: var(--text-color);
    transform: translateY(-2px);
}

.change_pass {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: 2px solid var(--main-color);
    color: white;
    background: transparent;
    transition: 0.25s ease;
    font-size: 15px;
}


/* .change_pass.action {
    clip-path: circle(144% at 100% 0%);
} */

.change_pass:hover {
    background: var(--main-color);
    border-color: var(--text-color);
    transform: translateY(-2px);
}

.hidden {
    display: none;
}