:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0, 0%, 91%);
}

.tl_sp {
    color: var(--text-color);
    background: var(--main-color);
    font-size: 15px;
    margin-left: 3px;
}


/* card-list */

.card {
    overflow: hidden;
}

.card-image {
    height: auto;
    width: 100%;
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 5px;
}

.card-top {
    padding-top: 5px;
}

.card-title {
    font-weight: bold;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    color: var(--main-color);
    text-align: center;
}

.card-bottom {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    background: var(--light-color);
}

.card-top {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.card-user h3 {
    font-size: 17px;
    color: green;
}

.card-user span {
    font-size: 13px;
    text-decoration: line-through;
    color: gray;
}

.card-user,
.rating-download {
    margin-top: auto;
    flex-shrink: 0;
}

.card {
    display: flex;
    flex-direction: column;
}