@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0, 0%, 91%);
}

html::-webkit-scrollbar {
    display: none;
}

button {
    outline: none;
    border: none;
}


/* custom scroll-bar */

.progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: 300;
}

.progress-bar {
    height: 4px;
    background: var(--main-color);
    width: 100%;
}


/* Breadcrumb */

.menu-second {
    margin-top: 6rem;
}

.menu-second h2 {
    font-weight: bold;
    font-size: 50px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--text-color);
    content: " \276f";
}

ul.breadcrumb .here {
    color: var(--main-color);
}

ul.breadcrumb li a {
    color: var(--text-color);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--main-color);
}


/* range */

.group {
    background-color: #CBC2B9;
    width: 100%;
    margin: 20px 0;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px #9d968f;
    position: relative;
}

.range-input input {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: transparent;
    transform: translateY(2px);
    pointer-events: none;
}

.range-input input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background-color: #fbfb71;
    border: 3px solid #f7a14c;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px #6f9163, 0 0 1px #6f9163;
    pointer-events: auto;
}

.pro {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: goldenrod;
    border-radius: 5px;
    background-attachment: fixed;
}

.range-text div {
    position: absolute;
    background-color: #bffaaa80;
    color: #eee;
    font-size: 10px;
    padding: 5px;
    left: 0;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    top: 15px;
    transform: translateX(-50%);
}

.range-text .text-max {
    left: unset;
    right: 0;
    transform: translateX(50%);
}


/* ragne */


/* filter form */

.filter-form {
    margin: 7rem 2rem;
    color: #eee;
    position: relative;
}

.filter-title-coltrol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.filter-title-coltrol ion-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    left: 0;
    top: 0;
    margin: 10px 5px;
}

.filter-title-coltrol h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.filter-itemss {
    background-color: var(--light-color);
    padding: 20px;
}

.filter-control {
    position: fixed;
    top: 5rem;
    transform: translateX(50%);
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.619) 0px 5px 15px;
    background-color: var(--main-color);
    border-radius: 10px;
    z-index: 999;
}

.filter-itemss {
    max-height: 440px;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filter-item {
    margin-bottom: 10px;
    padding: 10px;
}

.filter-item ion-icon {
    color: white;
}

.item-title {
    display: grid;
}

.item-title label {
    color: white;
}

.hidden {
    display: none;
}

.filter-title-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.filter-title-item ion-icon {
    width: 30px;
    height: 30px;
    color: white;
    left: 0;
    margin-left: 5px;
}

.filter-title-item h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.filter-btn {
    gap: 1rem;
}

.btn-filter {
    background: var(--dark-color);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

.btn-filter:hover {
    background: var(--light-color);
    color: var(--main-color);
    transition: .3s all linear;
}

.item-title span {
    color: goldenrod;
}

.lable-item {
    width: 100%;
}

.tools ion-icon,
span {
    color: #eee;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.items::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: rgba(231, 22, 22, 0.712);
    transform: translateX(-10px);
    transition: 0.25s;
}

.items::before:hover {
    width: 100%;
}

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-item button {
    width: calc(30% - 10px);
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
    transition: .5s linear;
}

.filter-item button:hover {
    background: var(--dark-color);
    color: var(--main-color);
}

.control {
    border-radius: 5px;
    width: 60px;
    height: 50px;
    background-color: #9d968f;
    cursor: pointer;
}

.tools {
    text-align: center;
    padding: 10px 5px;
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .nav {
        padding: 10px 0;
    }
    .nofication {
        right: 3rem;
    }
    .search {
        right: 3rem;
    }
    .menu img {
        width: 500px;
    }
    .menu-second {
        margin-top: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 80%;
    }
    .nofication {
        right: 1rem;
    }
    .search {
        right: 1rem;
    }
    .menu img {
        width: 400px;
    }
    .menu-second {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 426px) {
    .container {
        margin: 0 auto;
        width: 80%;
    }
    .logo {
        font-size: 1.2rem;
    }
    .menu img {
        display: none;
    }
    .menu {
        justify-content: flex-end;
    }
    .nav {
        padding: 8px 0;
    }
    .nav-icons .bx,
    .menu-icons {
        height: 40px;
        width: 40px;
    }
    .menu-second {
        display: none;
    }
    .filter-control {
        width: 85%;
        transform: translateX(10%);
    }
}

@media screen and (max-width: 320px) {}