/*---------------------------------------------------------------------
    File Name: slick.css
---------------------------------------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-slider {
    display: block;
    width: 100%;
}

select {
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

input {
    line-height: normal;
}

button {
    cursor: pointer;
    display: none;
}

.image-slider {
    padding-bottom: 50px;
}

.image-slider1 {
    padding-bottom: 50px;
}

.image {
    height: 350px;
    margin-bottom: 20px;
}

.image-item {
    margin-left: 10px;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-title {
    font-size: 20px;
    color: #8e8fb5;
}

.slick-initialized .slick-slide {
    margin: 0 10px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
}

.slick-arrow:hover {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    color: white;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #eee;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.slick-dots .slick-active button {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}